
@font-face{ 
	font-family: 'MyWebFont';
	src: url('fonts/WebFont.eot');
	src: url('fonts/WebFont.eot?iefix') format('eot'),
	     url('fonts/WebFont.woff') format('woff'),
	     url('fonts/WebFont.ttf') format('truetype'),
	     url('fonts/WebFont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1,h2 {
    font-family: 'MyWebFont',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

h2{
    color: #C5624C;
}
h1, h1 + p {
    text-align: center;
}

p {
    text-align: justify;
}

body {
    background-image: url("image/fond.png");
    background-repeat: repeat;
}
img {
    float: right; 
    border: 2px rgba(34, 32, 32, 0.171) solid;
    border-radius: 2px;
    box-shadow: 3px 3px 2px #2c2b2b;
    
}
section {
    width: 30%;
   margin-right: 3%;  
}

#liseret {
    width: 100px;
    margin-right: 2%;
    height: 600px;
    border: #bd604bf3 0.5px solid;
    border-radius: 4px;
    color: #C5624C;
    background-color: #bd604bf3;
    opacity: 0.6; 
}

#blocs {
    display: flex;  
}

#blocsection {
    display: flex;
}

#contenu {
    width: 85%;
}
/* responsive */

 @media all and (max-width: 600px)
 {
    #contenu {
        width: auto;
    }

    #liseret {
        display: none;
    }

    #blocsection {
        flex-direction: column;
        
    }
     section {
         width: auto;
         margin-left: 2%;
     }

     img {
         margin-right: 3%;

     }
 }
